<script async src="//jsfiddle.net/mwatz122/8mkpd3qd/embed/"></script>
<table id="orders-table" data-search="false" data-striped="true" data-pagination="true" data-filter-control="true" data-side-pagination="client" data-page-size="10" data-page-list="[10, 25, 50, 100, ALL]">
    <thead>
        <tr>
            <th data-field="id" data-halign="left" data-align="right" data-filter-control="input">ID</th>
            <th data-field="status" data-filter-control="select">Status</th>
            <th data-field="received" data-filter-control="datepicker" data-filter-datepicker-options='{"autoclose":true, "clearBtn": true, "todayHighlight": true, "orientation": "top"}'>Received</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>231</td>
            <td>In Progress</td>
            <td>07/02/2015</td>
        </tr>
        <tr>
            <td>230</td>
            <td>Cancelled</td>
            <td>07/05/2015</td>
        </tr>
        <tr>
            <td>219</td>
            <td>Complete</td>
            <td>07/09/2015</td>
        </tr>
    </tbody>
</table>