<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!------ Include the above in your HEAD tag ---------->
    </head>


    <style>

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.navigation {
   /* fixed keyword is fine too */
   position: sticky;
   top: 0;
   z-index: 100;
   /* z-index works pretty much like a layer:
   the higher the z-index value, the greater
   it will allow the navigation tag to stay on top
   of other tags */
}



    </style>

<body class="pricing sidebar-collapse" >
  <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav" style="height:15%; left: 0; right: 0; background-image: url(../static/assets/img/header11.jpg)" >
    <div class="container">
      <div class="navbar-translate">

          <div>
  <!--a href="/shoppingcart" target="_blank" class="btn btn-round btn-block btn-sm " style ="position: sticky; top: 0; right: 0; left: 0; transform-origin: top right;">

    <i class="material-icons">shopping_cart</i> Buy Now
</a-->

  </div>
        
        <!--div class="navbar-brand">
          <-a href="#home" class="active" class="navbar-brand">Home</a>
          <img src="../static/assets/img/vegan-dino-bg.ico" class="active">

        </div-->

        {% if request.MOBILE %}

        <ul class="navbar-nav mx-auto">

          <li><img src="../static/assets/img/vegan-dino-bg.ico"></li>

        </ul>

        {% else %}


          <img src="../static/assets/img/vegan-dino-bg(2).ico" class="navbar-nav mx-auto" style="position: absolute; right: 0px; left: 0px; top: -12px; transform-origin: top center;">

        

        {% endif %}
        <!--a href="/shoppingcart" target="_blank" class="btn btn-round btn-block btn-sm " style ="background-color: #94df69; position: absolute; right: 0px; top: 0px; transform-origin: top right;"-->


            <!--a href="/shoppingcart" target="_blank" class="btn btn-round btn-block btn-sm " style ="background-color: #94df69; position: absolute; right: auto; top: auto; bottom: auto; left: auto; transform-origin: top right;">

                <i class="material-icons">shopping_cart</i> Buy Now
          </a-->
        <!--a class="navbar-brand" href="https://demos.creative-tim.com/material-kit-pro/index.html" style="color:black";>
          The Vegan Dinasour </a-->
          <!--img src="../static/assets/img/vd-resized.png" width="50" height="40" style="position: relative;
          top:-40px; margin-left:55px;
        margin-right: -55px;display: block; width: 50%; height: 50%;" -->


        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
          
            <li class="button-container nav-item iframe-extern">
              <div>


                            <!--a href="/shoppingcart" target="_blank" class="btn btn-round btn-block btn-sm " style ="background-color: #94df69; position: absolute; right: auto; top: auto; bottom: auto; left: auto; transform-origin: top right;">

                <i class="material-icons">shopping_cart</i> Buy Now
          </a-->
                
                <!--img src="../static/assets/img/vegan-dino-bg.ico"-->
                <!--a href="/shoppingcart" target="_blank" class="btn btn-round btn-block btn-sm " style ="background-color: #94df69; display: block; 
                margin-left: 1px; right: -1000px; top: -40px"-->

                <!--a href="/shoppingcart" target="_blank" class="btn btn-round btn-block btn-sm " style ="background-color: #94df69;">

                <i class="material-icons">shopping_cart</i> Buy Now
                </a-->
              </div>
            </li>
          </ul>
        </div>
    
    
      </div>
        </ul>
      </div>
    </div>
  </nav>

</html>