<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Express Checkout(JS API)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <script src="https://paytabs.com/express/v4/paytabs-express-checkout.js"></script>
    <script type="text/javascript">
        Paytabs.initWithIframe(document.body,{
          settings: {
            secret_key: "NnvwyHjhEsfRsmHNq5nmRXguDCK3pQwcd2IMK14otjfWGXK627tT4JoHl9LKZhXdkF04G4saoI74FRbIYEB2o0KJavu9Nrn77ncN",
            merchant_id: "10066432",
            url_redirect: "https://www.vegandinosaur.com/invoice",
            amount: "{{total}}",
            title: "vegan dino products",
            currency: "SAR",
            product_names: "test test",
            order_id: "25",
            ui_type: "iframe",
            is_popup: "true",
            ui_show_header: "true"
          },
          customer_info: {
            first_name: "{{customer_name}}",
            last_name: "",
            phone_number: "{{customer_mobile}}",
            email_address: "",
            country_code: "966"
          },
          billing_address: {
            full_address: "",
            city: "Jeddah",
            state: "Makkah",
            country: "SAU",
            postal_code: "21488"
          }
        });
    </script>
  </body>
</html>