<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!------ Include the above in your HEAD tag ---------->
    </head>


    <style>

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.navigation {
   /* fixed keyword is fine too */
   position: sticky;
   top: 0;
   z-index: 100;
   /* z-index works pretty much like a layer:
   the higher the z-index value, the greater
   it will allow the navigation tag to stay on top
   of other tags */
}



    </style>

   <nav class="navbar navbar-dark navbar-expand-md bg-success navigation">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse dual-nav order-1 order-md-0">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/shoppingcart" target="_blank" class="btn btn-round btn-block btn-sm nav-link">
            <i class="material-icons">shopping_cart</i> Buy Now
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse collapse dual-nav order-2 order-md-1 justify-content-end">
    <ul class="navbar-nav border border-danger">
      <li class="nav-item">
        <a class="nav-link" href="#">Center Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Center Link</a>
      </li>
    </ul>
  </div>

  <a href="/" class="navbar-brand mx-auto order-0 order-md-2 p-2">

    <img src="../static/assets/img/vegan-dino-bg.ico">


</a>

  <div class="navbar-collapse collapse dual-nav order-3 order-md-3">
    <ul class="navbar-nav border border-danger">
      <li class="nav-item">
        <a class="nav-link" href="#">Center Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Center Link</a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse collapse dual-nav order-4 order-md-4 justify-content-end">
    <ul class="navbar-nav border border-primary">
      <li class="nav-item">
        <a class="nav-link" href="#">Right Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Right Link</a>
      </li>
    </ul>
  </div>

</nav>
<body>
    <div class="text-center" >
<p><b>1. APPLICABILITY</b></p>
<p>1.1 The General Terms and Conditions below apply to all offers and transactions of Sundus Ibrahim Bin-
Mansour Barri EST Commercial (The Vegan Dinosaur)</p>
<p>1.2 By making an order, the consumer expressly accepts the applicability of these General Terms and
Conditions.</p>
<p>1.3 Deviations from that stipulated in these Terms and Conditions are only valid when they are
confirmed in writing by the management.</p>
<p>1.4 All rights and entitlements stipulated for The Vegan Dinosaur in these General Terms and Conditions
and any further agreements will also apply for intermediaries and other third parties deployed by Sundus
Ibrahim Bin-Mansour Barri EST (The Vegan Dinosaur)</p>
<p><b>2. QUALITY</b></p>
<p>2.1 Sundus Ibrahim Bin-Mansour Barri EST (The Vegan Dinosaur) guarantees that all the products
offered meet the standards of the concept.</p>
<p>2.2 If there are any complaints the management needs to be informed immediately. Appropriate actions
will be taken as soon as possible.</p>
<p>2.3 Customer is responsible to inform Sundus Ibrahim Bin-Mansour Barri EST (The Vegan Dinosaur)
about any allergy or food sensivity, and Sundus Ibrahim Bin-Mansour Barri EST (The Vegan Dinosaur)
will do its best to garuentee</p>
<p><b>3. PRICES/OFFERS</b></p>
<p>3.1 All offers made by Sundus Ibrahim Bin-Mansour Barri EST (The Vegan Dinosaur) are without
obligation and The Vegan Dinosaur expressly reserves the right to change the prices, in particular if this
is necessary as a result of statutory or other regulations.</p>
<p>3.3 In certain cases, promotional prices apply. These prices are valid only during a specific period as
long as stocks last. No entitlement to these prices may be invoked before or after the specific period.</p>
<p>3.4 Sundus Ibrahim Bin-Mansour Barri EST (The Vegan Dinosaur) cannot be held to any price
indications that are clearly incorrect, for example as a result of obvious typesetting or printing errors. No
rights may be derived from incorrect price information.</p>
<p><b>4. CANCELLATIONS &amp; REFUND</b></p>
<p>4.1 Sundus Ibrahim Bin-Mansour Barri EST (The Vegan Dinosaur) is entitled to cancel or change the
date of an order. Should this happen, Sundus Ibrahim Bin-Mansour Barri EST (The Vegan Dinosaur) will
attempt to provide a suitable solution. If an order is cancelled or postponed, Sundus Ibrahim Bin-
Mansour Barri EST (The Vegan Dinosaur) will do its utmost to inform you as soon as possible.
However, Sundus Ibrahim Bin-Mansour Barri EST (The Vegan Dinosaur) cannot guarantee it is possible
to inform you timely of any change or cancellation of an order or be held responsible for refunds,
compensations or for any resulting costs you may incur, for example for travel, accommodation and/or
any other related goods or service.</p>
<p>4.2 Before confirming your order, always check carefully that you have reserved the correct (number of)
persons.</p>
<p>4.3. All purchases can be cancelled within 48 working hours before the first orders are made.</p>
<p><b>5. PAUSING SUBSCRIPTION</b></p>
<p>4.4. One week orders can be paused for one time and it must be done 48 working hours before orders
are made andunpauses must be made within one weeks after initial pause.</p>
<p>4.5. One month orders can be paused 3 times and it must be done 48 working hours before orders are
made and unpauses must be made within 1 month after initial pause.</p>
<p><b>5. PAYMENTS</b></p>
<p>5.1 All prices are including</p>
<p>5.2 Methods of payment we accept: Visa, Mastercard, Made.</p>
<p>5.3 You will not receive confirmation of your definitive booking until your payment has been approved.</p>
<p><b>6. OTHER PROVISIONS</b></p>
<p>6.1  If one or more of the provisions in these Terms and Conditions or any other agreement with The
Vegan Dinosaur are in conflict with any applicable legal regulation, the provision in question will lapse
and be replaced by a new comparable stipulation admissible by law to be determined by Blue Pepper.</p>
<p>6.2  The law of the Kingdom of Saudi Arabia applies to all agreements entered into with or concluded
by The Vegan Dinosaur. Any disputes arising directly or indirectly from these agreements will be
exclusively settled by the Court of Saudi Arabia.</p>
</div>
</body>
</html>